@keyframes float {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  100% {
    transform: translate(var(--float-translate-x), var(--float-translate-y)) rotate(var(--float-rotate));
  }
}

.animate-float {
  animation: float linear infinite;
}

.bg-orange {
  background-color: #FF6600;
  /* Define the orange color */
}

/* Additional styling as needed */